form{
    width: 400px;
    padding: 10px;
    margin-bottom: 20px;

}
.formControl mb-2{
    width: 100%;
    margin-bottom: 10%;
    display: flex;
}
label{
    margin-right: 20px;
    width: 90px;
}